<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<title>job</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/home.css">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min"></script>

<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> JOB FINDER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#companies">Companies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/company/view">View Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <button class="btn0">REGISTER</button>
                <button class="btn1">LOGIN</button>
                {{!-- <p>{{company.Name}}</p> --}}

            </form>
        </div>
    </div>
</nav>
{{!-- /* ======================main section==================== */ --}}
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1>Find The Most Exciting <br>
                    Startup
                </h1>
                <input type="text" placeholder="Job Title Or Keyword">
                <button class="btn2 mt-5">Find Job</button>

            </div>
        </div>
    </div>
    {{!-- filter box --}}
    <div class="filter-box">
        <div class="filter-dropdown">
            <select class="filtrt-select" id="job-level" name="job-level">
                <option>Job Level</option>
                <option>Entry</option>
                <option>Mid-senior</option>
                <option>Director</option>
            </select>
            <select class="filter-select" name="job-function" id="job-function">
                <option>Job Function</option>
                <option>IT</option>
                <option>Management</option>
                <option>Education</option>
            </select>
            <select class="filter-select" name="employement" id="employement">
                <option>Employement</option>
                <option>Internship</option>
                <option>Part time</option>
                <option>full time</option>
            </select>
            <select class="filter-select" name="location" id="location">
                <option>Location</option>
                <option>Remote</option>
                <option>US</option>
                <option>UK</option>
            </select>
            <select class="filter-select" name="education" id="education">
                <option>Education</option>
                <option>High School</option>
                <option>Bachelor's degree</option>
                <option>Master's degree</option>
            </select>
        </div>
    </div>
</section>
{{!-- ====================ceta section============== --}}
<section class="ceta py-5">
    <div class="container-fluid py-5 text-center">
        <p class="red">Find Your Dream Jobs</p>
        <h1 class="job">Newest job offer</h1>
        <a href="#">view job offers</a>
    </div>
</section>
{{!-- job list --}}
<section class="job-list" id="jobs">
    <div class="job-card">
        <div class="job-name">
            <img class="job-pro" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Tesla_logo.png">
            <div class="job-details">
                <h4>Tesla</h4>
                <h3>Business Development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">HTML</a>
                <a class="label-b" href="#">CSS</a>
                <a class="label-c" href="#">JavaScript</a>
            </div>
            <div class="job-posted">
                Posted 2 mins ago
            </div>
        </div>
    </div>
    <div class="job-card">
        <div class="job-name">
            <img class="job-pro"
                src="https://m.media-amazon.com/images/G/31/social_share/amazon_logo._CB633266945_.png">
            <div class="job-details">
                <h4>Amazon</h4>
                <h3>Software Engineer</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">HTML</a>
                <a class="label-b" href="#">CSS</a>
                <a class="label-c" href="#">JavaScript</a>
            </div>
            <div class="job-posted">
                Posted 2 mins ago
            </div>
        </div>
    </div>
    <div class="job-card">
        <div class="job-name">
            <img class="job-pro" src="https://www.youtube.com/img/desktop/yt_1200.png">
            <div class="job-details">
                <h4>Youtube</h4>
                <h3>UI UX Designer</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">HTML</a>
                <a class="label-b" href="#">CSS</a>
                <a class="label-c" href="#">JavaScript</a>
            </div>
            <div class="job-posted">
                Just now
            </div>
        </div>
    </div>
    <div class="job-card">
        <div class="job-name">
            <img class="job-pro" src="https://download.logo.wine/logo/TikTok/TikTok-Logo.wine.png">
            <div class="job-details">
                <h4>Tiktok</h4>
                <h3>Digital Marketing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">HTML</a>
                <a class="label-b" href="#">CSS</a>
                <a class="label-c" href="#">JavaScript</a>
            </div>
            <div class="job-posted">
                Posted 1 mins ago
            </div>
        </div>
    </div>
    <div class="job-card">
        <div class="job-name">
            <img class="job-pro"
                src="https://play-lh.googleusercontent.com/6UgEjh8Xuts4nwdWzTnWH8QtLuHqRMUB7dp24JYVE2xcYzq4HA8hFfcAbU-R-PC_9uA1">
            <div class="job-details">
                <h4>Google</h4>
                <h3>HR Manager</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="job-label">
                <a class="label-a" href="#">HTML</a>
                <a class="label-b" href="#">CSS</a>
                <a class="label-c" href="#">JavaScript</a>
            </div>
            <div class="job-posted">
                Posted 7 mins ago
            </div>
        </div>
    </div>
    <button class="job-more">More List</button>
</section>
{{!-- join --}}
<section class="join py-5 text-center text-white">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-10 m-auto">
                <p class="pb-3">LETS START YOUR NEW JOB WITH!!!
                </p>
                <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 m-auto">
                <button class="btn3"> <a href="#Join Now"></a> Join Now</button>
            </div>
        </div>
    </div>

</section>
{{!-- featured company --}}
<section class="featured" id="companies">
    <h1 class="section-tilte">Featured Companies</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium laboriosam cum, a soluta quos quasi
        aspernatur, veritatis odit, porro ullam sunt excepturi eligendi!</p>
    <div class="featured-wrappwr">
        <div class="featured-card">
            <img class="featured-img"
                src="https://cdn.britannica.com/81/103081-050-3502F550/logo-eBay-Inc-Meg-Whitman-auction-April-2001.jpg"
                alt="">
            <p>Ebay</p>
            <button class="featured-button"> View 2 jobs</button>
        </div>

        <div class="featured-wrappwr">
            <div class="featured-card">
                <img class="featured-img" src="https://www.freepnglogos.com/uploads/youtube-logo-hd-8.png" alt="">
                <p>Youtube</p>
                <button class="featured-button"> View 1 jobs</button>
            </div>
        </div>
        <div class="featured-wrappwr">
            <div class="featured-card">
                <img class="featured-img"
                    src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a9/TikTok_logo.svg/1200px-TikTok_logo.svg.png"
                    alt="">
                <p>Tiktok</p>
                <button class="featured-button"> View 7 jobs</button>
            </div>
        </div>
        <div class="featured-wrappwr">
            <div class="featured-card">
                <img class="featured-img" src="https://www.carlogos.org/car-logos/tesla-logo-2200x2800.png" alt="">
                <p>Tesla</p>
                <button class="featured-button"> View 2 jobs</button>
            </div>
        </div>
        <div class="featured-wrappwr">
            <div class="featured-card">
                <img class="featured-img"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png"
                    alt="">
                <p>Google</p>
                <button class="featured-button"> View 8 jobs</button>
            </div>
        </div>
        <div class="featured-wrappwr">
            <div class="featured-card">
                <img class="featured-img"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/800px-Apple_logo_black.svg.png"
                    alt="">
                <p>Apple</p>
                <button class="featured-button"> View 2 jobs</button>
            </div>
        </div>
        <div class="featured-wrappwr">
            <div class="featured-card">
                <img class="featured-img"
                    src="https://m.media-amazon.com/images/G/31/social_share/amazon_logo._CB633266945_.png" alt="">
                <p>Amazon</p>
                <button class="featured-button"> View 2 jobs</button>
            </div>
        </div>
        <div class="featured-wrappwr">
            <div class="featured-card">
                <img class="featured-img"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1200px-Instagram_logo_2022.svg.png"
                    alt="">
                <p>Instagram</p>
                <button class="featured-button"> View 2 jobs</button>
            </div>
        </div>
        <div class="featured-wrappwr">
            <div class="featured-card">
                <img class="featured-img"
                    src="https://upload.wikimedia.org/wikipedia/en/thumb/1/18/Airtel_logo.svg/1200px-Airtel_logo.svg.png"
                    <p>Airtel</p>
                <button class="featured-button"> View 2 jobs</button>
            </div>
        </div>
        <div class="featured-wrappwr">
            <div class="featured-card">
                <img class="featured-img" src="https://www.facebook.com/images/fb_icon_325x325.png" alt="">
                <p>FaceBook</p>
                <button class="featured-button"> View 2 jobs</button>
            </div>
        </div>
    </div>
</section>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://groupda.com/wp-content/uploads/2020/08/apply-now-job-hiring-help-ss-1920.jpg"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://www.kribhco.net/assets/img/other/career.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</head>
<script src="/routes/company.js"></script>
</body>