<link rel="stylesheet" href="/css/usersUpdate.css">
<h1>Update Form</h1>
<form action="">
    <div class="registration-form">
        <form action="/updateFormUsers" method="post" >
            <table>
                <tr>
                    <td>
                        RESUME:
                    </td>
                    <td>
                        <textarea name="Resume" placeholder="enter your resume" id="" cols="30" rows="10"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        ADDRESS:
                    </td>
                    <td>
                        <textarea name="Address" cols="30" rows="10" placeholder="Enter your current Adress"></textarea>
                    </td>
                </tr>
                <tr>

                    <td>
                        EXPERIENCE:
                    </td>
                    <td>
                        <textarea name="Experience" placeholder="Enter your experience" id="" cols="30" rows="10"></textarea>
                    </td>
                </tr>
        
                <tr>
                    <td>
                        SKILS:
                    </td>
                    <td>
                        <textarea name="Skills" id="" placeholder="enter your skills" cols="30" rows="10" ></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        IMAGES:
                    </td>
                    <td>
                        <input type="file" name="Image" id="">
                    </td>
                </tr>


            </table>
            <a href="/views/userProfile"> <button class="btn" type="submit">submit</button> </a>
        </form>
    </div>
</form>