body{
    background-image: url(https://cdn.phenompeople.com/CareerConnectResources/AIDTUS/images/Location-1649262477189.png);
}
/* .from{
    font-size: 25px;
    margin-right: 550px;
    padding-top:100px;
    padding-left: 500px;

} */
.from{
    font-size: 25px;
}