<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOB PORTAL</title>
    <link rel="stylesheet" href="/css/company.css">
</head>


<div class="regform">
    <h1>Login Page </h1><br>
    <h4>FIND YOUR DREAM JOBS !!!</h4>
</div>
<div class="main">
    <form action="/company/login" method="post">
        <div id="name">
            {{!-- <h2 class="name">Name</h2>
            <input class="firstname" type="text" name="first_name" placeholder="Enter Name"><br> --}}

        </div>


        <h2 class="name">Email</h2>
        <input class="email" type="text" name="Email" placeholder="Enter Email Id"><br>


        {{!-- <h2 class="name">Phone</h2>
        <input class="number" type="text" name="phone" placeholder="Enter Phone Number"><br> --}}

        <h2 class="name">Password</h2>
        <input class="password" type="password" name="Password" placeholder="Enter strong password">




       <a href="Alredy login"> <button type="submit">SUBMIT</button> </a>

    </form>
    <a href="/company/signup"></a>
</div>