<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<title>job</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/users.css">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min"></script>

<nav class="navbar navbar-dark navbar-expand-lg bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> THIS ARE THE NEW JOBS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#companies">Companies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/company/companyview">View Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="job-list" id="jobs">
    <div class="job-card">
        <div class="job-name">
            <div class="job-details">
                <h4>Job Title:</h4>
                <h4>vacancy</h4>
                <h4>Status</h4>
                                <button>CLOSE VACANCY</button>

            </div>
    </div>
    </div>
    <div class="job-card">
        <div class="job-name">
            <div class="job-details">
                <h4>Job Title:</h4>
                <h4>vacancy</h4>
                <h4>Status</h4>
                                <button>CLOSE VACANCY</button>

            </div>
    </div>
    </div>
    <div class="job-card">
        <div class="job-name">
            <div class="job-details">
                <h4>Job Title:</h4>
                <h4>vacancy</h4>
                <h4>Status</h4>
                                <button>CLOSE VACANCY</button>

            </div>
    </div>
    </div>
    <div class="job-card">
        <div class="job-name">
            <div class="job-details">
                <h4>Job Title:</h4>
                <h4>vacancy</h4>
                <h4>Status</h4>
                <button>CLOSE VACANCY</button>
            </div>
    </div>
    </div>
    <div class="job-card">
        <div class="job-name">
            <div class="job-details">
                <h4>Job Title:</h4>
                <h4>vacancy</h4>
                <h4>Status</h4>
                                <button>CLOSE VACANCY</button>

            </div>
    </div>
    </div>
    <div class="job-card">
        <div class="job-name">
            <div class="job-details">
                <h4>Job Title:</h4>
                <h4>vacancy</h4>
                <h4>Status</h4>
<button>CLOSE VACANCY</button>

            </div>
    </div>
    </div>
    </section>