
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOB PORTAL</title>
    <link rel="stylesheet" href="/css/company.css">
</head>

<body>
    <section class="section-login" >

        <!--header -->
        <div class="header">
            <span class="fa fa-bars" ></span>
        </div>
        
    {{!-- <div class="regform">
        <h2>SHINE</h2><br>
        <h4>Let’s get started, tell us about yourself !!!</h4>
    </div> --}}
        <!--left side login -->
        <div class="login-left" >
            <h1>Don't have an account?</h1>
            <p>If opportunity doesn’t knock, build a door</p>
            <button>Create an account</button>

        </div>
        <!--right side login-->
        <div class="login-right">

            <h1 class="head" >"FIND YOUR DREAM JOBS"</h1>
                        <h1>Sign up for your account</h1>
            <p>I just thought any workout that is effective and I can do while laying down I'm signing up for.</p>
            <form>
                <div class="login-input">
                    <input type="text" placeholder="Name">
                    <label class="fa fa-user"></label>

                </div>
                <div class="login-input" >
                    <input type="text" placeholder="Phone">
                    <label class="fa fa-user"></label>
                </div>
                <div class="login-input">
                    <input type="email" placeholder="Email">
                    <label class="fa fa-user"></label>
                </div>
                <div class="login-input">
                    <input type="password" placeholder="Password">
                    <label  class="fa fa-lock"  ></label>
                </div>
                <div class="login-checkbox" >
                    <input type="checkbox">
                    <label>Remember me</label>
                </div>
                <button class="login-button" type="submit" >Sign in</button>
            </form>
            <!--login mobile -->
            <div class="login-mobile" >
                <p>Dont' have an account</p>
                <a href="#">Sign up</a>
            </div>

        </div>



    </section>
</body>